---

---

<footer class="max-w-xl mx-auto invert p-8 text-center grid grid-cols-4 gap-4 animate-infinite-scroll">
  <div>
    <p>&copy; DiDe Webfeature projekt 2024</p>
    <p>All rights reserved.</p>
  </div>
  <div>
    <p>
      <a href="/privacy-policy">Privacy Policy</a>
    </p>
    <p>
      <a href="/terms-of-service">Terms of Service</a>
    </p>
   
  </div>
  <div>
    <p>Contact Us:</p>
    <p>Email: info@example.com</p>
    <p>Phone: +123 456 7890</p>
  </div>
</footer>
